.card {
  background-size: cover;
  background-position: center;
  border: 10px solid white;
  height: 150px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.card:hover {
  border: 0;
}
